.details-section {
    margin: 10em 0;
}

.details-image {
    margin: 2em 0;
    max-width: 100%;
}

@media (min-width: 992px) {
  .details-image {
    margin-top: 0;
    margin-left: 3em;
    max-width: 100%;
  }
}

.details-text-p {
  padding: 0px 0px 15px 0px;
  text-align: left;
}

.details-links-list {
    margin-top: 40px;
}

.details-links-list-element-href:link, .details-links-list-element-href:visited, .details-links-list-element-href:hover, .details-links-list-element-href:active {
  color: black;
  text-decoration: underline;
}

.details-text {
  text-align: left;
}

.details-links-list-element {
  padding: 0px 0px 15px 0px;
}

