.intro-text {
  text-align: left;
  padding: 0 10%;
}

.intro-text-paragraph {
  margin: 1em 0;
}

#intro-p-1 {
  margin: 0 0;
  font-size: 25px;
}

#intro-p-5 {
  margin: 0 0;
  font-size: 20px;
}

.countdown {
  margin-top: 100px;
  margin-bottom: 5em;
  font-size: 20px;
  font-weight: bold;
}

.intro-rsvp-header {
  text-align: center;
}

@media (min-width: 992px) {
  .intro-text {
    margin: auto;
    padding: 0 0;
    text-align: left;
  }
}

input {
  font-size: 15px;
  color: black;
  padding: 6px;
  margin: 25px auto 25px auto;
  display: block;
  width: 60%;
  min-width: 350px;
  max-width: 500px;
}

.btn-check:active + .btn-outline-primary-input, .btn-check:checked + .btn-outline-primary-input, .btn-outline-primary-input.active, .btn-outline-primary-input:active {
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: none;
}

.btn-outline-primary-input {
  color: black;
  background-color: white;
  border-color: black;
}

.btn-outline-primary-input:hover {
  color: black;
  background-color: gray;
  border-color: black;
}

.btn-outline-primary-send {
  font-size: 15px;
  padding: 8px;
  margin: 25px auto 25px auto;
  display: block;
  width: 35%;
  color: black;
  background-color: white;
  border-color: black;
  box-shadow: none;
}

.btn-outline-primary-send:hover {
  color: #fff;
  background-color: #666;
  border-color: black;
  box-shadow: none;
}

.btn-outline-primary-send:active {
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: none;
}

.btn-outline-primary-send:enabled:focus {
  color: #fff;
  background-color: black;
  border-color: black;
  outline: none;
  box-shadow: none;
}

.btn-outline-primary-send:disabled {
  color: #fff;
  background-color: black;
  border-color: black;
  box-shadow: none;
}
