


/*
.ww-wedding-announcement-text {
  text-align: center;
  margin-top: 100px;
}

.wedding-announcement-text-couple {
  font-family: "Great Vibes", cursive;
  font-size: 4vw;
}

.wedding-announcement-text-location, .wedding-announcement-text-date {
  font-family: "Marmelad-Regular";
  font-size: 2vw;
}

.ww-wedding-announcement-description {
  text-align: left;
  margin-bottom: 150px;
  margin-top: 50px;
}

.ww-wedding-announcement-description-group {
  padding: 15px 0px;
}
*/
