@font-face {
  font-family: "Marmelad-Regular";
  src: url('fonts/Marmelad-Regular.ttf') format('truetype');
}

body {
  font-family: "Marmelad-Regular", sans-serif;
}

.section {
  margin: 2em 0;
}

.details-text {
  text-align: left;
  margin-right: 100px;
}

.details-links {
  text-align: center;
}

.details-links-list-element {
  padding: 0px 0px 15px 0px;
}

.details-image {
  min-width: 260px;
  max-width: 560px;
  display: block;
  margin-left: 100px;
}

/*
@media (max-width: 962px) {
  .ww-wedding-announcement-text {
    order: 2;
    font-size: 5;
    padding-top: 10%;
  }
  .ww-wedding-announcement-description {
    text-align: center;
    margin-top: 0px;
  }
  .wedding-announcement-text-couple {
    font-size: 40px;
  }
  .wedding-announcement-text-location, .wedding-announcement-text-date {
    font-family: "Marmelad-Regular";
    font-size: 20px;
  }
  .couple-image {
    padding-left: 0px;
  }
  .details-image {
    max-width: 350px;
    display: block;
    margin: 0px auto;
  }

  .form input{
    order: 2;
  }
  .details-text {
    order: 2;
    margin-right: 0;
  }
  .details-text-p {
    margin-top: 40px;
    text-align: center;
    padding: 0px auto;
  }
}
*/
.countdown {
  margin-top: 40px;
}

.schedule-item-picture {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



/*
.ww-home-page .ww-wedding-announcement {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  color: black;
  letter-spacing: 2px;
}
*/
/*.ww-home-page .ww-wedding-announcement .ww-announcement-container {
  max-width: 600px;
  text-align: center;
  margin-left: 0;
  padding-bottom: 200px;
  z-index: 999; }
.ww-home-page .ww-wedding-announcement img {
  max-height: 350px;
  width: auto; }
  @media (max-width: 480px) {
    .ww-home-page .ww-wedding-announcement img {
      max-height: 250px;
      width: auto; } }
.ww-home-page .ww-wedding-announcement .ww-couple-name {
  font-size: 70px; }
  @media (max-width: 576px) {
    .ww-home-page .ww-wedding-announcement .ww-couple-name {
      font-size: 50px; } }*/

/*
.ww-home-page:before {
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 480px;
  max-height: 1080px;
  position: static;
  left: 0;
  top: 0;
}
*/
/*.ww-wedding-announcement{
}*/


/* Photo Gallery Style */
.ww-photo-gallery .ww-category-filter a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

.ww-photo-gallery .ww1-gallery {
  min-height: 500px;
}

.ww-photo-gallery .card-columns .card {
  border: none;
  margin-bottom: 15px;
  border-radius: none;
}

@media (max-width: 992px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 2;
         column-count: 2; } }

@media (max-width: 576px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 1;
         column-count: 1; } }


.ww-section {
  padding: 5rem 0;
}

.event-line-svg {
  width: 100%;
  height: 100%;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 25px auto;
  display: block;
  width: 60%;
  min-width: 350px;
  max-width: 500px;
}

.ww-extra-details {
  margin: 5% auto;
}

.details-text-p {
  padding: 0px 0px 15px 0px;
}

.details-head {
  display: block;
  text-align: center;
}

.ww-extra-details {
  max-width: 1500px;
}

.details-links-list-element-href:link, .details-links-list-element-href:visited, .details-links-list-element-href:hover, .details-links-list-element-href:active {
  color: black;
  text-decoration: underline;
}




/* Hide elements */

#gifts-section {
  display: none;
  visibility: hidden;
}

.gifts-details {
  display: none;
}





