@font-face {
  font-family: "Marmelad-Regular";
  src: url('../fonts/Marmelad-Regular.ttf') format('truetype');
}

body {
  font-family: "Marmelad-Regular", sans-serif;
}

.section {
  margin: 125px 0;
}

html {
  scroll-padding-top: 30em;
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 10em;
  }
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
