.schedule-rows {
    padding-top: 50px;
}

.schedule-item-picture {
    width : 100%;
    height: auto; /*to preserve the aspect ratio of the image*/
}


.schedule-vertical-separator {
  margin-right: auto;
  display: block;
}
