.welcome-section{
    margin: 0 0;
}

.welcome-section-couple-image {
    max-width: 100%;
    height: auto;
    order: 1;
}

.welcome-section-container {
    max-width: 100%;
}

.welcome-section-details {
    margin: 5em 0;
    text-align: center;
}

.welcome-section-couple {
    font-family: "Great Vibes", cursive;
    font-size: 8vw;
}

@media (min-width: 992px) {
    .welcome-section-couple-image {
        max-width: 80%;
        margin: auto;
        display: block;
    }
    .welcome-section-details {
        margin: auto;
    }

    .welcome-section-couple {
        font-size: 4vw;
    }
}
