.welcome-section{
    margin: 0 0;
}

.welcome-section-couple-image {
    max-width: 100%;
    height: auto;
    order: 1;
}

.welcome-section-container {
    max-width: 100%;
}

.welcome-section-details {
    margin-top: 100px;
    text-align: center;
}

.welcome-section-couple {
    font-family: "Great Vibes", cursive;
    font-size: 50px;
}

.welcome-section-date {
    font-size: 25px;
}

.welcome-section-location {
    font-size: 30px;
}

@media (min-width: 992px) {
    .welcome-section-couple-image {
        max-width: 80%;
        margin: auto;
        display: block;
    }

    .welcome-section-details {
        margin: auto;
    }

    .welcome-section-details-container {
        margin: auto 0 auto 0;
    }

    .welcome-section-couple {
        font-size: 70px;
    }

    .welcome-section-date {
        font-size: 40px;
    }

    .welcome-section-location {
        font-size: 40px;
    }
}

@media (min-width: 1779px) {
    .welcome-section-details-container {
        margin: auto 0 auto 20%;
    }
}

@media (min-width: 2313px) {
    .welcome-section-details-container {
        margin: auto 0 auto 35%;
    }
}
